@font-face {
font-family:HelveticaCondensed;
src:url(../fonts/hvc_____-webfont.eot?#iefix) format(embedded-opentype),url(../fonts/hvc_____-webfont.woff) format(woff),url(../fonts/hvc_____-webfont.ttf) format(truetype),url(../fonts/hvc_____-webfont.svg#HelveticaCondensed) format(svg);
font-weight:400;
font-style:normal;
}



@font-face {
	font-family: 'HelveticaCondensed';
	src: url('../fonts/hvc_____-webfont.eot');
	src: url('../fonts/hvc_____-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hvc_____-webfont.woff') format('woff'), url('../fonts/hvc_____-webfont.ttf') format('truetype'), url('../fonts/hvc_____-webfont.svg#HelveticaCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
margin:0;
padding:0;
}

body {
background:url(../img/bodybg.png) top center repeat-x;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#535353;
}

a {
outline:none;
color:#454545;
text-decoration:none;
}

h1 {
font-size:24px;
color:#373938;
font-weight:normal;
font-family:HelveticaCondensed;
padding-bottom:15px;
}

h1 span,h3 span {
color:#c80100;
}

h2 {
font-size:20px;
color:#393838;
font-weight:400;
text-transform:uppercase;
font-family:HelveticaCondensed;
}

h3 {
font-size:16px;
color:#393838;
font-weight:700;
text-transform:uppercase;
font-family:HelveticaCondensed;
line-height:30px;
}

h4 {
font-size:18px;
color:#6b6647;
font-weight:700;
text-transform:uppercase;
font-family:HelveticaCondensed;
line-height:38px;
}

.center {
text-align:center;
}

.clr {
clear:both;
font-size:0;
}

.divfull {
width:100%;
float:left;
}

.normaltxt {
font-size:14px;
line-height:20px;
color:#636466;
}

.lightgray {
color:#929292;
}

.darklight {
color:#333;
}

.red {
color:#c90004;
}

#header,#middle {
width:970px;
float:left;
}

.wid55 {
width:55px;
}

.wid100 {
width:100px;
}

.wid120 {
width:120px;
}

.wid168 {
width:168px;
}

.wid200 {
width:200px;
}

.wid243 {
width:243px;
}

.wid255 {
width:255px;
}

.wid333 {
width:333px;
}

.wid345 {
width:345px;
}

.wid420 {
width:420px;
}

.wid465 {
width:465px;
}

.wid477 {
width:477px;
}

.wid550 {
width:550px;
}

.wid698 {
width:698px;
}

.wid710 {
width:710px;
}

.pt3 {
padding-top:3px;
}

.pt5 {
padding-top:5px;
}

.pt6 {
padding-top:6px;
}

.pt10 {
padding-top:10px;
}

.pt15 {
padding-top:15px;
}

.pt20 {
padding-top:20px;
}

.pt25 {
padding-top:25px;
}

.pt30 {
padding-top:30px;
}

.pt35 {
padding-top:35px;
}

.pt45 {
padding-top:45px;
}

.pb5 {
padding-bottom:5px;
}

.pb10 {
padding-bottom:10px;
}

.pl8 {
padding-left:8px;
}

.pl20 {
padding-left:20px;
}

.pr20 {
padding-right:20px;
}

.pd20 {
padding:20px;
}

.logo a {
background:url(../img/logo.jpg) top left no-repeat;
width:474px;
height:45px;
display:block;
}

.logo1 a {
background:url(../img/logo1.jpg) top left no-repeat;
width:474px;
height:45px;
display:block;
}

.logo2 a {
background:url(../img/logo2.jpg) top left no-repeat;
width:474px;
height:45px;
display:block;
}

.admintxt {
float:left;
font:26px HelveticaCondensed;
color:#373938;
padding-top:25px;
}

.admintxt span {
display:block;
font:14px Arial,Helvetica,sans-serif;
text-transform:uppercase;
}

.nav {
list-style:none;
font-size:14px;
padding-top:2px;
}

.nav li {
float:left;
padding-right:5px;
}

.nav li a {
float:left;
background:url(../img/navlt.png) top left no-repeat;
padding-left:6px;
}

.nav li a span {
float:left;
background:url(../img/navrt.png) top right no-repeat;
line-height:38px;
color:#464330;
padding:0 18px 0 12px;
}

.nav li a span strong {
background:none;
font-weight:400;
padding-bottom:0;
}

.nav li a.active {
float:left;
background:url(../img/navlt_active.png) top left no-repeat;
padding-left:6px;
}

.nav li a.active span {
float:left;
background:url(../img/navrt_active.png) top right no-repeat;
line-height:38px;
color:#333;
padding:0 18px 0 12px;
}

.nav li a.active span strong {
background:url(../img/navactivearrow.png) bottom center no-repeat;
font-weight:400;
padding-bottom:10px;
}

#middle {
padding:20px 0;
}

.loginbox {
background:url(../img/loginbg.jpg) top left no-repeat;
width:377px;
height:193px;
float:left;
padding:25px 15px 15px;
}

.adminloginbox {
background:url(../img/loginbg.jpg) no-repeat scroll left top transparent;
float:left;
height:193px;
margin-left:40px;
width:357px;
padding:25px 25px 15px;
}

.loginhead {
background:url(../img/headtap.png) top center no-repeat;
font:20px/35px HelveticaCondensed;
color:#fff;
padding-bottom:12px;
text-transform:uppercase;
text-shadow:0 1px 1px #333;
text-align:center;
}

.loginform {
position:relative;
font:12px Arial,Helvetica,sans-serif;
color:#454545;
padding:0 0 5px 12px;
}

.log_input {
background:url(../img/logininputlt.png) top left no-repeat;
padding-left:6px;
width:248px;
position:relative;
}

.log_input input {
font-weight:700;
font-size:14px;
color:#8a8a8a;
background:none;
border:0;
line-height:26px;
height:26px;
width:200px;
}

.loginbtn {
position:absolute;
top:19px;
right:-3px;
}

.log_input1 {
background:url(../img/logininputlt.png) top left no-repeat;
padding-left:6px;
width:268px;
position:relative;
}

.log_input1 input {
font-weight:700;
font-size:14px;
color:#8a8a8a;
background:none;
border:0;
line-height:26px;
height:26px;
width:220px;
}

.case_search {
border:1px solid #c9c9c9;
background:#f4f4f4;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
padding:6px;
}

.lbl {
font-weight:700;
float:left;
padding:5px 10px;
}

.inputlt {
background:url(../img/inputlt.png) top left no-repeat;
width:5px;
height:27px;
float:left;
}

.inputmid {
border-top:1px solid silver;
border-bottom:1px solid silver;
background:#fbfbfb;
height:21px;
float:left;
padding:2px 0;
}

.inputrt {
background:url(../img/inputrt.png) top left no-repeat;
width:5px;
height:27px;
float:left;
}

.inputmid input {
border:none;
background:none;
font-size:12px;
color:#535353;
line-height:20px;
}

textarea {
background:#fbfbfb;
border:1px solid silver;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

.newListSelected {
color:#333;
height:25px;
margin-bottom:0;
outline:none;
float:left;
font:12px Arial,Helvetica,sans-serif;
padding:0;
}

.newListSelected div {
display:block;
text-align:left!important;
cursor:pointer;
margin-top:0;
padding:3px 20px 2px 5px;
}

ul.newList {
list-style:none;
color:#404040;
background:#fff;
border:1px solid #999;
top:20px;
left:0;
height:auto;
overflow:auto;
text-align:left!important;
position:absolute;
z-index:9999;
margin-left:1px;
margin-top:0;
}

ul.newList li {
border-bottom:1px dotted #ccc;
padding:1px 0!important;
}

.hiLite {
background:#aaa!important;
color:#fff!important;
display:block;
}

.newListHover {
background:#e1e1e1!important;
color:#5a5a5a!important;
cursor:pointer;
}

.select244 .newListSelected {
background:url(../img/dropicon.png) 225px 1px no-repeat;
width:244px;
}

.select244 ul.newList {
width:241px;
}

.select150 .newListSelected {
background:url(../img/dropicon.png) 132px 1px no-repeat;
width:150px;
}

.select150 ul.newList {
width:146px;
}

.gridbxover {
border:1px solid #c9c9c9;
}

.gridbxover1 {
border:1px solid #9d9879;
}

.btnlt {
background:url(../img/btnlt.png) left no-repeat;
width:12px;
height:27px;
float:left;
}

.btnmid {
background:url(../img/btnmid.png) top left repeat-x;
float:left;
font-weight:700;
color:#fff;
height:27px;
line-height:27px;
}

.btnrt {
background:url(../img/btnrt.png) left no-repeat;
width:12px;
height:27px;
float:left;
}

.btnmid a {
color:#fff;
}

.btnmid input {
background:none;
border:none;
font:bold 12px Arial,Helvetica,sans-serif;
color:#fff;
height:25px;
cursor:pointer;
}

.btnh1 {
position:absolute;
top:0;
right:0;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
}

.secureicon {
position:absolute;
top:3px;
right:0;
background:url(../img/lock.png) center right no-repeat;
padding-right:22px;
font-size:16px;
}

.tblcaselist th {
background:url(../img/grid_headbg.png) top left repeat-x;
border-left:1px solid #fbfbfb;
border-right:1px solid #dadada;
border-bottom:1px solid #c7c7c7;
font-size:14px;
line-height:35px;
vertical-align:middle;
text-align:left;
font-weight:400;
padding:0 10px;
}

.tblcaselist td {
border-left:1px solid #fff;
border-right:1px solid #dadada;
border-bottom:1px solid #e8e8e8;
border-top:1px solid #fbfbfb;
line-height:18px;
vertical-align:top;
padding:3px 10px;
}

.statusicon {
float:right;
padding:4px 6px 0 0;
}

.even {
background:#f7f7f7;
}

.odd:hover,.even:hover {
background:#eaeaea;
}


.shorting {
padding-top:3px;
padding-left:10px;
float:left;
line-height:normal;
}

.shorting a {
height:7px;
margin-bottom:3px;
display:block;
}

.gradbox {
border:1px solid #ccc;
background:url(../img/bxgrade.png) top left repeat-x;
padding:15px;
}

.bxheadlt {
background:url(../img/tabheadlt.png) top left no-repeat;
width:5px;
height:32px;
float:left;
}

.bxheadmid {
background:url(../img/tabheadbg.png) top left repeat-x;
float:left;
line-height:32px;
font-size:12px;
font-weight:700;
color:#464330;
position:relative;
text-transform:uppercase;
padding:0 10px;
}

.bxheadmid span {
background:url(../img/tabpoint.png) top left no-repeat;
width:17px;
height:9px;
top:31px;
left:15px;
position:absolute;
z-index:999;
}

.bxheadrt {
background:url(../img/tabheadrt.png) top left no-repeat;
width:5px;
height:32px;
float:left;
}

.trackerinfo {
border:3px solid #918b69;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:url(../img/casetbxbg.png) top left repeat-x;
}

.replybx {
background:#e4e4e4;
border:1px solid #b9b9b9;
padding:15px;
}

.replybx textarea {
width:850px;
float:left;
height:85px;
}

.logoutsec {
color:#5a5a5a;
padding:35px 0 0;
}

.logoutsec span {
display:block;
float:left;
padding-right:10px;
}

.logoutsec a {
font-weight:700;
padding:0 5px;
}

.footerbg {
background:url(../img/footerbg.png) top left repeat-x;
height:110px;
font:12px Arial,Helvetica,sans-serif;
color:#eaeaea;
}

.footerlinks {
float:left;
list-style:none;
padding-top:24px;
}

.footerlinks li {
float:left;
padding:0 6px;
}

.footerlinks li a {
color:#eaeaea;
}

.footerlinks li a:hover {
color:#999;
}

.follw {
float:left;
padding-right:25px;
}

.follw span {
font-size:16px;
color:#fff;
float:left;
padding-top:5px;
padding-right:5px;
}

.errormsg {
background-color:#ffecce;
border:1px solid #e9c59b;
font:bold 12px Arial,Helvetica,sans-serif;
color:#ed302c;
position:relative;
height:12px;
padding:10px;
}

.errtl {
background:url(../img/errtl.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
top:-1px;
left:-1px;
}

.errtr {
background:url(../img/errtr.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
top:-1px;
right:-1px;
}

.errbl {
background:url(../img/errbl.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
bottom:-1px;
left:-1px;
}

.errbr {
background:url(../img/errbr.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
bottom:-1px;
right:-1px;
}

.successmsg {
background-color:#edfbd8;
border:1px solid #bfde84;
font:bold 12px Arial,Helvetica,sans-serif;
color:#508600;
position:relative;
height:12px;
padding:10px;
}

.suctl {
background:url(../img/suctl.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
top:-1px;
left:-1px;
}

.suctr {
background:url(../img/suctr.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
top:-1px;
right:-1px;
}

.sucbl {
background:url(../img/sucbl.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
bottom:-1px;
left:-1px;
}

.sucbr {
background:url(../img/sucbr.gif) no-repeat;
width:3px;
height:3px;
position:absolute;
bottom:-1px;
right:-1px;
}

a.newlink {
outline:none;
text-decoration:underline;
}

a.newlink:hover {
color:#00F;
text-decoration:underline;
}

.footer_abs {
position:absolute;
vertical-align:bottom;
width:100%;
bottom:1px;
}

.jspContainer {
overflow:hidden;
position:relative;
}

.jspPane {
position:absolute;
}

.jspVerticalBar {
position:absolute;
top:0;
right:0;
width:13px;
height:100%;
}

.jspHorizontalBar {
position:absolute;
bottom:0;
left:0;
width:100%;
height:13px;
}

.jspVerticalBar *,.jspHorizontalBar * {
margin:0;
padding:0;
}

.jspTrack {
background:url(../images/bg.jpg) top center repeat-y;
position:relative;
}

.jspDrag {
background:url(../images/slider.jpg) top center repeat-y;
position:relative;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
top:0;
left:0;
cursor:pointer;
}

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
float:left;
height:100%;
}

.jspArrowUp {
background:url(../images/toparrow.jpg) top center no-repeat;
text-indent:-20000px;
display:block;
cursor:pointer;
}

.jspArrowDown {
background:url(../images/bottomarrow.jpg) top center no-repeat;
text-indent:-20000px;
display:block;
cursor:pointer;
}

.jspArrowUp.jspDisabled {
cursor:default;
background:url(../images/toparrowdis.jpg) top center no-repeat;
}

.jspArrowDown.jspDisabled {
cursor:default;
background:url(../images/bottomarrowdis.jpg) top center no-repeat;
}

.jspVerticalBar .jspArrow {
height:13px;
}

.jspHorizontalBar .jspArrow {
width:13px;
float:left;
height:100%;
}

.jspCorner {
background:#eeeef4;
float:left;
height:100%;
}

* html .jspCorner {
margin:0 -3px 0 0;
}

.ui-helper-hidden-accessible {
position:absolute!important;
clip:rect(1px,1px,1px,1px);
}

.ui-helper-reset {
border:0;
outline:0;
line-height:1.3;
text-decoration:none;
font-size:100%;
list-style:none;
margin:0;
padding:0;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
content:"";
display:table;
}

.ui-helper-clearfix:after {
clear:both;
}

.ui-helper-clearfix {
zoom:1;
}

.ui-helper-zfix {
width:100%;
height:100%;
top:0;
left:0;
position:absolute;
opacity:0;
filter:Alpha(Opacity=0);
}

.ui-state-disabled {
cursor:default!important;
}

.ui-icon {
display:block;
text-indent:-99999px;
overflow:hidden;
background-repeat:no-repeat;
width:16px;
height:16px;
background-image:url(images/ui-icons_222222_256x240.png);
}

.ui-widget-overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
opacity:.3;
filter:Alpha(Opacity=30);
}

.ui-accordion .ui-accordion-header {
cursor:pointer;
position:relative;
margin-top:1px;
zoom:1;
}

.ui-accordion .ui-accordion-li-fix {
display:inline;
}

.ui-accordion .ui-accordion-header-active {
border-bottom:0!important;
}

.ui-accordion .ui-accordion-header a {
display:block;
font-size:1em;
padding:.5em .5em .5em .7em;
}

.ui-accordion-icons .ui-accordion-header a {
padding-left:2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
position:absolute;
left:.5em;
top:50%;
margin-top:-8px;
}

.ui-accordion .ui-accordion-content {
border-top:0;
margin-top:-2px;
position:relative;
top:1px;
margin-bottom:2px;
overflow:auto;
display:none;
zoom:1;
padding:1em 2.2em;
}

.ui-accordion .ui-accordion-content-active {
display:block;
}

.ui-autocomplete {
position:absolute;
cursor:default;
}

* html .ui-autocomplete {
width:1px;
}

.ui-menu {
list-style:none;
display:block;
float:left;
margin:0;
padding:2px;
}

.ui-menu .ui-menu {
margin-top:-3px;
}

.ui-menu .ui-menu-item {
zoom:1;
float:left;
clear:left;
width:100%;
margin:0;
padding:0;
}

.ui-menu .ui-menu-item a {
text-decoration:none;
display:block;
line-height:1.5;
zoom:1;
padding:.2em .4em;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active {
font-weight:400;
margin:-1px;
}

.ui-button {
display:inline-block;
position:relative;
margin-right:.1em;
text-decoration:none!important;
cursor:pointer;
text-align:center;
zoom:1;
overflow:visible;
padding:0;
}

.ui-button-icon-only {
width:2.2em;
}

button.ui-button-icon-only {
width:2.4em;
}

.ui-button-icons-only {
width:3.4em;
}

button.ui-button-icons-only {
width:3.7em;
}

.ui-button .ui-button-text {
display:block;
line-height:1.4;
}

.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text {
text-indent:-9999999px;
padding:.4em;
}

.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text {
padding:.4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text {
padding:.4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
padding-left:2.1em;
padding-right:2.1em;
}

.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon {
position:absolute;
top:50%;
margin-top:-8px;
}

.ui-button-icon-only .ui-icon {
left:50%;
margin-left:-8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary {
left:.5em;
}

.ui-buttonset {
margin-right:7px;
}

.ui-buttonset .ui-button {
margin-left:0;
margin-right:-.3em;
}

button.ui-button::-moz-focus-inner {
border:0;
padding:0;
}

.ui-datepicker {
width:17em;
display:none;
padding:.2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
position:relative;
padding:.2em 0;
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
position:absolute;
top:2px;
width:1.8em;
height:1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
top:1px;
}

.ui-datepicker .ui-datepicker-prev {
left:2px;
}

.ui-datepicker .ui-datepicker-next {
right:2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
left:1px;
}

.ui-datepicker .ui-datepicker-next-hover {
right:1px;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
display:block;
position:absolute;
left:50%;
margin-left:-8px;
top:50%;
margin-top:-8px;
}

.ui-datepicker .ui-datepicker-title {
line-height:1.8em;
text-align:center;
margin:0 2.3em;
}

.ui-datepicker .ui-datepicker-title select {
font-size:1em;
margin:1px 0;
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
width:49%;
}

.ui-datepicker table {
width:100%;
font-size:.9em;
border-collapse:collapse;
margin:0 0 .4em;
}

.ui-datepicker th {
text-align:center;
font-weight:700;
border:0;
padding:.7em .3em;
}

.ui-datepicker td {
border:0;
padding:1px;
}

.ui-datepicker td span,.ui-datepicker td a {
display:block;
text-align:right;
text-decoration:none;
padding:.2em;
}

.ui-datepicker .ui-datepicker-buttonpane {
background-image:none;
border-left:0;
border-right:0;
border-bottom:0;
margin:.7em 0 0;
padding:0 .2em;
}

.ui-datepicker .ui-datepicker-buttonpane button {
float:right;
cursor:pointer;
width:auto;
overflow:visible;
margin:.5em .2em .4em;
padding:.2em .6em .3em;
}

.ui-datepicker.ui-datepicker-multi {
width:auto;
}

.ui-datepicker-multi .ui-datepicker-group table {
width:95%;
margin:0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
width:50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
width:33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
width:25%;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
clear:left;
}

.ui-datepicker-row-break {
clear:both;
width:100%;
font-size:0;
}

.ui-datepicker-rtl {
direction:rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
right:2px;
left:auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
left:2px;
right:auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
right:1px;
left:auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
left:1px;
right:auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
clear:right;
}

.ui-datepicker-cover {
display:block;
position:absolute;
z-index:-1;
filter:mask();
top:-4px;
left:-4px;
width:200px;
height:200px;
}

.ui-dialog {
position:absolute;
width:300px;
overflow:hidden;
padding:.2em;
}

.ui-dialog .ui-dialog-titlebar {
background:url(images/tabheadbg.png) repeat-x scroll left top transparent;
color:#464330;
position:relative;
padding:.4em 1em;
}

.ui-dialog .ui-dialog-title {
float:left;
margin:.1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
position:absolute;
right:.3em;
top:50%;
width:19px;
height:18px;
margin:-10px 0 0;
padding:1px;
}

.ui-dialog .ui-dialog-titlebar-close span {
display:block;
margin:1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus {
padding:0;
}

.ui-dialog .ui-dialog-content {
position:relative;
border:0;
background:none;
overflow:auto;
zoom:1;
padding:.5em 1em;
}

.ui-dialog .ui-dialog-buttonpane {
text-align:left;
background-image:none;
border-width:1px 0 0;
margin:.5em 0 0;
padding:.3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
cursor:pointer;
margin:.5em .4em .5em 0;
}

.ui-dialog .ui-resizable-se {
width:14px;
height:14px;
right:3px;
bottom:3px;
}

.ui-draggable .ui-dialog-titlebar {
cursor:move;
}

.ui-progressbar {
height:2em;
text-align:left;
overflow:hidden;
}

.ui-progressbar .ui-progressbar-value {
height:100%;
margin:-1px;
}

.ui-resizable-handle {
position:absolute;
font-size:.1px;
z-index:99999;
display:block;
}

.ui-resizable-n {
cursor:n-resize;
height:7px;
width:100%;
top:-5px;
left:0;
}

.ui-resizable-s {
cursor:s-resize;
height:7px;
width:100%;
bottom:-5px;
left:0;
}

.ui-resizable-e {
cursor:e-resize;
width:7px;
right:-5px;
top:0;
height:100%;
}

.ui-resizable-w {
cursor:w-resize;
width:7px;
left:-5px;
top:0;
height:100%;
}

.ui-resizable-se {
cursor:se-resize;
width:12px;
height:12px;
right:1px;
bottom:1px;
}

.ui-resizable-sw {
cursor:sw-resize;
width:9px;
height:9px;
left:-5px;
bottom:-5px;
}

.ui-resizable-nw {
cursor:nw-resize;
width:9px;
height:9px;
left:-5px;
top:-5px;
}

.ui-resizable-ne {
cursor:ne-resize;
width:9px;
height:9px;
right:-5px;
top:-5px;
}

.ui-selectable-helper {
position:absolute;
z-index:100;
border:1px dotted #000;
}

.ui-slider {
position:relative;
text-align:left;
}

.ui-slider .ui-slider-handle {
position:absolute;
z-index:2;
width:1.2em;
height:1.2em;
cursor:default;
}

.ui-slider .ui-slider-range {
position:absolute;
z-index:1;
font-size:.7em;
display:block;
border:0;
background-position:0 0;
}

.ui-slider-horizontal {
height:.8em;
}

.ui-slider-horizontal .ui-slider-handle {
top:-.3em;
margin-left:-.6em;
}

.ui-slider-horizontal .ui-slider-range {
top:0;
height:100%;
}

.ui-slider-vertical {
width:.8em;
height:100px;
}

.ui-slider-vertical .ui-slider-handle {
left:-.3em;
margin-left:0;
margin-bottom:-.6em;
}

.ui-slider-vertical .ui-slider-range {
left:0;
width:100%;
}

.ui-slider-vertical .ui-slider-range-min {
bottom:0;
}

.ui-slider-vertical .ui-slider-range-max {
top:0;
}

.ui-tabs {
position:relative;
zoom:1;
padding:.2em;
}

.ui-tabs .ui-tabs-nav {
margin:0;
padding:.2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
list-style:none;
float:left;
position:relative;
top:1px;
border-bottom:0!important;
white-space:nowrap;
margin:0 .2em 1px 0;
padding:0;
}

.ui-tabs .ui-tabs-nav li a {
float:left;
text-decoration:none;
padding:.5em 1em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
margin-bottom:0;
padding-bottom:1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
cursor:text;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
cursor:pointer;
}

.ui-tabs .ui-tabs-panel {
display:block;
background:none;
border-width:0;
padding:1em 1.4em;
}

.ui-tabs .ui-tabs-hide {
display:none!important;
}

.ui-widget {
font-family:Verdana,Arial,sans-serif;
font-size:1.1em;
}

.ui-widget .ui-widget {
font-size:1em;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
font-family:Verdana,Arial,sans-serif;
font-size:1em;
}

.ui-widget-content {
border:1px solid #aaa;
background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
color:#222;
}

.ui-widget-header {
border:1px solid #aaa;
background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
color:#222;
font-weight:700;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
border:1px solid #d3d3d3;
background:#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#555;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
color:#555;
text-decoration:none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
border:1px solid #999;
background:#dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#212121;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
border:1px solid #aaa;
background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight:400;
color:#212121;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
border:1px solid #fcefa1;
background:#fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
color:#363636;
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
color:#363636;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
border:1px solid #cd0a0a;
background:#fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
color:#cd0a0a;
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
font-weight:700;
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
opacity:.7;
filter:Alpha(Opacity=70);
font-weight:400;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
opacity:.35;
filter:Alpha(Opacity=35);
background-image:none;
}

.ui-state-default .ui-icon {
background-image:url(images/ui-icons_888888_256x240.png);
}

.ui-state-highlight .ui-icon {
background-image:url(images/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
background-image:url(images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon-carat-1-n {
background-position:0 0;
}

.ui-icon-carat-1-ne {
background-position:-16px 0;
}

.ui-icon-carat-1-e {
background-position:-32px 0;
}

.ui-icon-carat-1-se {
background-position:-48px 0;
}

.ui-icon-carat-1-s {
background-position:-64px 0;
}

.ui-icon-carat-1-sw {
background-position:-80px 0;
}

.ui-icon-carat-1-w {
background-position:-96px 0;
}

.ui-icon-carat-1-nw {
background-position:-112px 0;
}

.ui-icon-carat-2-n-s {
background-position:-128px 0;
}

.ui-icon-carat-2-e-w {
background-position:-144px 0;
}

.ui-icon-triangle-1-n {
background-position:0 -16px;
}

.ui-icon-triangle-1-ne {
background-position:-16px -16px;
}

.ui-icon-triangle-1-e {
background-position:-32px -16px;
}

.ui-icon-triangle-1-se {
background-position:-48px -16px;
}

.ui-icon-triangle-1-s {
background-position:-64px -16px;
}

.ui-icon-triangle-1-sw {
background-position:-80px -16px;
}

.ui-icon-triangle-1-w {
background-position:-96px -16px;
}

.ui-icon-triangle-1-nw {
background-position:-112px -16px;
}

.ui-icon-triangle-2-n-s {
background-position:-128px -16px;
}

.ui-icon-triangle-2-e-w {
background-position:-144px -16px;
}

.ui-icon-arrow-1-n {
background-position:0 -32px;
}

.ui-icon-arrow-1-ne {
background-position:-16px -32px;
}

.ui-icon-arrow-1-e {
background-position:-32px -32px;
}

.ui-icon-arrow-1-se {
background-position:-48px -32px;
}

.ui-icon-arrow-1-s {
background-position:-64px -32px;
}

.ui-icon-arrow-1-sw {
background-position:-80px -32px;
}

.ui-icon-arrow-1-w {
background-position:-96px -32px;
}

.ui-icon-arrow-1-nw {
background-position:-112px -32px;
}

.ui-icon-arrow-2-n-s {
background-position:-128px -32px;
}

.ui-icon-arrow-2-ne-sw {
background-position:-144px -32px;
}

.ui-icon-arrow-2-e-w {
background-position:-160px -32px;
}

.ui-icon-arrow-2-se-nw {
background-position:-176px -32px;
}

.ui-icon-arrowstop-1-n {
background-position:-192px -32px;
}

.ui-icon-arrowstop-1-e {
background-position:-208px -32px;
}

.ui-icon-arrowstop-1-s {
background-position:-224px -32px;
}

.ui-icon-arrowstop-1-w {
background-position:-240px -32px;
}

.ui-icon-arrowthick-1-n {
background-position:0 -48px;
}

.ui-icon-arrowthick-1-ne {
background-position:-16px -48px;
}

.ui-icon-arrowthick-1-e {
background-position:-32px -48px;
}

.ui-icon-arrowthick-1-se {
background-position:-48px -48px;
}

.ui-icon-arrowthick-1-s {
background-position:-64px -48px;
}

.ui-icon-arrowthick-1-sw {
background-position:-80px -48px;
}

.ui-icon-arrowthick-1-w {
background-position:-96px -48px;
}

.ui-icon-arrowthick-1-nw {
background-position:-112px -48px;
}

.ui-icon-arrowthick-2-n-s {
background-position:-128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
background-position:-144px -48px;
}

.ui-icon-arrowthick-2-e-w {
background-position:-160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
background-position:-176px -48px;
}

.ui-icon-arrowthickstop-1-n {
background-position:-192px -48px;
}

.ui-icon-arrowthickstop-1-e {
background-position:-208px -48px;
}

.ui-icon-arrowthickstop-1-s {
background-position:-224px -48px;
}

.ui-icon-arrowthickstop-1-w {
background-position:-240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
background-position:0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
background-position:-16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
background-position:-32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
background-position:-48px -64px;
}

.ui-icon-arrowreturn-1-w {
background-position:-64px -64px;
}

.ui-icon-arrowreturn-1-n {
background-position:-80px -64px;
}

.ui-icon-arrowreturn-1-e {
background-position:-96px -64px;
}

.ui-icon-arrowreturn-1-s {
background-position:-112px -64px;
}

.ui-icon-arrowrefresh-1-w {
background-position:-128px -64px;
}

.ui-icon-arrowrefresh-1-n {
background-position:-144px -64px;
}

.ui-icon-arrowrefresh-1-e {
background-position:-160px -64px;
}

.ui-icon-arrowrefresh-1-s {
background-position:-176px -64px;
}

.ui-icon-arrow-4 {
background-position:0 -80px;
}

.ui-icon-arrow-4-diag {
background-position:-16px -80px;
}

.ui-icon-extlink {
background-position:-32px -80px;
}

.ui-icon-newwin {
background-position:-48px -80px;
}

.ui-icon-refresh {
background-position:-64px -80px;
}

.ui-icon-shuffle {
background-position:-80px -80px;
}

.ui-icon-transfer-e-w {
background-position:-96px -80px;
}

.ui-icon-transferthick-e-w {
background-position:-112px -80px;
}

.ui-icon-folder-collapsed {
background-position:0 -96px;
}

.ui-icon-folder-open {
background-position:-16px -96px;
}

.ui-icon-document {
background-position:-32px -96px;
}

.ui-icon-document-b {
background-position:-48px -96px;
}

.ui-icon-note {
background-position:-64px -96px;
}

.ui-icon-mail-closed {
background-position:-80px -96px;
}

.ui-icon-mail-open {
background-position:-96px -96px;
}

.ui-icon-suitcase {
background-position:-112px -96px;
}

.ui-icon-comment {
background-position:-128px -96px;
}

.ui-icon-person {
background-position:-144px -96px;
}

.ui-icon-print {
background-position:-160px -96px;
}

.ui-icon-trash {
background-position:-176px -96px;
}

.ui-icon-locked {
background-position:-192px -96px;
}

.ui-icon-unlocked {
background-position:-208px -96px;
}

.ui-icon-bookmark {
background-position:-224px -96px;
}

.ui-icon-tag {
background-position:-240px -96px;
}

.ui-icon-home {
background-position:0 -112px;
}

.ui-icon-flag {
background-position:-16px -112px;
}

.ui-icon-calendar {
background-position:-32px -112px;
}

.ui-icon-cart {
background-position:-48px -112px;
}

.ui-icon-pencil {
background-position:-64px -112px;
}

.ui-icon-clock {
background-position:-80px -112px;
}

.ui-icon-disk {
background-position:-96px -112px;
}

.ui-icon-calculator {
background-position:-112px -112px;
}

.ui-icon-zoomin {
background-position:-128px -112px;
}

.ui-icon-zoomout {
background-position:-144px -112px;
}

.ui-icon-search {
background-position:-160px -112px;
}

.ui-icon-wrench {
background-position:-176px -112px;
}

.ui-icon-gear {
background-position:-192px -112px;
}

.ui-icon-heart {
background-position:-208px -112px;
}

.ui-icon-star {
background-position:-224px -112px;
}

.ui-icon-link {
background-position:-240px -112px;
}

.ui-icon-cancel {
background-position:0 -128px;
}

.ui-icon-plus {
background-position:-16px -128px;
}

.ui-icon-plusthick {
background-position:-32px -128px;
}

.ui-icon-minus {
background-position:-48px -128px;
}

.ui-icon-minusthick {
background-position:-64px -128px;
}

.ui-icon-close {
background-position:-80px -128px;
}

.ui-icon-closethick {
background-position:-96px -128px;
}

.ui-icon-key {
background-position:-112px -128px;
}

.ui-icon-lightbulb {
background-position:-128px -128px;
}

.ui-icon-scissors {
background-position:-144px -128px;
}

.ui-icon-clipboard {
background-position:-160px -128px;
}

.ui-icon-copy {
background-position:-176px -128px;
}

.ui-icon-contact {
background-position:-192px -128px;
}

.ui-icon-image {
background-position:-208px -128px;
}

.ui-icon-video {
background-position:-224px -128px;
}

.ui-icon-script {
background-position:-240px -128px;
}

.ui-icon-alert {
background-position:0 -144px;
}

.ui-icon-info {
background-position:-16px -144px;
}

.ui-icon-notice {
background-position:-32px -144px;
}

.ui-icon-help {
background-position:-48px -144px;
}

.ui-icon-check {
background-position:-64px -144px;
}

.ui-icon-bullet {
background-position:-80px -144px;
}

.ui-icon-radio-off {
background-position:-96px -144px;
}

.ui-icon-radio-on {
background-position:-112px -144px;
}

.ui-icon-pin-w {
background-position:-128px -144px;
}

.ui-icon-pin-s {
background-position:-144px -144px;
}

.ui-icon-play {
background-position:0 -160px;
}

.ui-icon-pause {
background-position:-16px -160px;
}

.ui-icon-seek-next {
background-position:-32px -160px;
}

.ui-icon-seek-prev {
background-position:-48px -160px;
}

.ui-icon-seek-end {
background-position:-64px -160px;
}

.ui-icon-stop {
background-position:-96px -160px;
}

.ui-icon-eject {
background-position:-112px -160px;
}

.ui-icon-volume-off {
background-position:-128px -160px;
}

.ui-icon-volume-on {
background-position:-144px -160px;
}

.ui-icon-power {
background-position:0 -176px;
}

.ui-icon-signal-diag {
background-position:-16px -176px;
}

.ui-icon-signal {
background-position:-32px -176px;
}

.ui-icon-battery-0 {
background-position:-48px -176px;
}

.ui-icon-battery-1 {
background-position:-64px -176px;
}

.ui-icon-battery-2 {
background-position:-80px -176px;
}

.ui-icon-battery-3 {
background-position:-96px -176px;
}

.ui-icon-circle-plus {
background-position:0 -192px;
}

.ui-icon-circle-minus {
background-position:-16px -192px;
}

.ui-icon-circle-close {
background-position:-32px -192px;
}

.ui-icon-circle-triangle-e {
background-position:-48px -192px;
}

.ui-icon-circle-triangle-s {
background-position:-64px -192px;
}

.ui-icon-circle-triangle-w {
background-position:-80px -192px;
}

.ui-icon-circle-triangle-n {
background-position:-96px -192px;
}

.ui-icon-circle-arrow-e {
background-position:-112px -192px;
}

.ui-icon-circle-arrow-s {
background-position:-128px -192px;
}

.ui-icon-circle-arrow-w {
background-position:-144px -192px;
}

.ui-icon-circle-arrow-n {
background-position:-160px -192px;
}

.ui-icon-circle-zoomin {
background-position:-176px -192px;
}

.ui-icon-circle-zoomout {
background-position:-192px -192px;
}

.ui-icon-circle-check {
background-position:-208px -192px;
}

.ui-icon-circlesmall-plus {
background-position:0 -208px;
}

.ui-icon-circlesmall-minus {
background-position:-16px -208px;
}

.ui-icon-circlesmall-close {
background-position:-32px -208px;
}

.ui-icon-squaresmall-plus {
background-position:-48px -208px;
}

.ui-icon-squaresmall-minus {
background-position:-64px -208px;
}

.ui-icon-squaresmall-close {
background-position:-80px -208px;
}

.ui-icon-grip-dotted-vertical {
background-position:0 -224px;
}

.ui-icon-grip-dotted-horizontal {
background-position:-16px -224px;
}

.ui-icon-grip-solid-vertical {
background-position:-32px -224px;
}

.ui-icon-grip-solid-horizontal {
background-position:-48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
background-position:-64px -224px;
}

.ui-icon-grip-diagonal-se {
background-position:-80px -224px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
-moz-border-radius-topleft:4px;
-webkit-border-top-left-radius:4px;
-khtml-border-top-left-radius:4px;
border-top-left-radius:4px;
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
-moz-border-radius-topright:4px;
-webkit-border-top-right-radius:4px;
-khtml-border-top-right-radius:4px;
border-top-right-radius:4px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
-moz-border-radius-bottomleft:4px;
-webkit-border-bottom-left-radius:4px;
-khtml-border-bottom-left-radius:4px;
border-bottom-left-radius:4px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
-khtml-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;
}

.ui-widget-shadow {
background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
opacity:.3;
filter:Alpha(Opacity=30);
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
margin:-8px 0 0 -8px;
padding:8px;
}

#fancybox-loading {
position:fixed;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
cursor:pointer;
overflow:hidden;
z-index:1104;
display:none;
}

#fancybox-loading div {
position:absolute;
top:0;
left:0;
width:40px;
height:480px;
background-image:url(fancybox.png);
}

#fancybox-overlay {
position:absolute;
top:0;
left:0;
width:100%;
z-index:1100;
display:none;
}

#fancybox-tmp {
border:0;
overflow:auto;
display:none;
margin:0;
padding:0;
}

#fancybox-wrap {
position:absolute;
top:0;
left:0;
z-index:1101;
outline:none;
display:none;
width:1010px;
padding:20px;
}

#fancybox-outer {
position:relative;
width:1000px;
height:100%;
background:#fff;
}

#fancybox-content {
width:990px;
min-height:900px;
max-height:1900px;
outline:none;
position:relative;
overflow:hidden;
z-index:1102;
border:0 solid #fff;
padding:0;
}

#fancybox-hide-sel-frame {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:transparent;
z-index:1101;
}

#fancybox-close {
position:absolute;
top:-15px;
right:-15px;
width:30px;
height:30px;
cursor:pointer;
z-index:1103;
display:none;
}

#fancybox-error {
margin:0;
padding:14px;
}

#fancybox-img {
width:100%;
height:100%;
border:none;
outline:none;
line-height:0;
vertical-align:top;
margin:0;
padding:0;
}

#fancybox-frame {
width:100%;
height:100%;
border:none;
background:#FFF;
display:block;
}

#fancybox-left,#fancybox-right {
position:absolute;
bottom:0;
height:100%;
width:35%;
cursor:pointer;
outline:none;
background:transparent url(blank.gif);
z-index:1102;
display:none;
}

#fancybox-left-ico,#fancybox-right-ico {
position:absolute;
top:50%;
left:-9999px;
width:30px;
height:30px;
margin-top:-15px;
cursor:pointer;
z-index:1102;
display:block;
}

#fancybox-left-ico {
background-image:url(fancybox.png);
background-position:-40px -30px;
}

#fancybox-right-ico {
background-image:url(fancybox.png);
background-position:-40px -60px;
}

#fancybox-left:hover,#fancybox-right:hover {
visibility:visible;
}

#fancybox-left:hover span {
left:20px;
}

#fancybox-right:hover span {
left:auto;
right:20px;
}

.fancybox-bg {
position:absolute;
border:0;
width:20px;
height:20px;
z-index:1001;
margin:0;
padding:0;
}

#fancybox-bg-n {
top:-20px;
left:0;
width:100%;
background-image:url(fancybox-x.png);
}

#fancybox-bg-ne {
top:-20px;
right:-20px;
background-image:url(fancybox.png);
background-position:-40px -162px;
}

#fancybox-bg-e {
top:0;
right:-20px;
height:100%;
background-image:url(fancybox-y.png);
background-position:-20px 0;
}

#fancybox-bg-se {
bottom:-20px;
right:-20px;
background-image:url(fancybox.png);
background-position:-40px -182px;
}

#fancybox-bg-s {
bottom:-20px;
left:0;
width:100%;
background-image:url(fancybox-x.png);
background-position:0 -20px;
}

#fancybox-bg-sw {
bottom:-20px;
left:-20px;
background-image:url(fancybox.png);
background-position:-40px -142px;
}

#fancybox-bg-w {
top:0;
left:-20px;
height:100%;
background-image:url(fancybox-y.png);
}

#fancybox-bg-nw {
top:-20px;
left:-20px;
background-image:url(fancybox.png);
background-position:-40px -122px;
}

#fancybox-title {
z-index:1102;
}

.fancybox-title-inside {
padding-bottom:10px;
text-align:center;
color:#333;
background:#fff;
position:relative;
}

.fancybox-title-outside {
padding-top:10px;
color:#fff;
}

.fancybox-title-over {
position:absolute;
bottom:0;
left:0;
color:#FFF;
text-align:left;
}

#fancybox-title-over {
background-image:url(fancy_title_over.png);
display:block;
padding:10px;
}

.fancybox-title-float {
position:absolute;
left:0;
bottom:-20px;
height:32px;
}

#fancybox-title-float-wrap {
border:none;
border-collapse:collapse;
width:auto;
}

#fancybox-title-float-wrap td {
border:none;
white-space:nowrap;
}

#fancybox-title-float-left {
background:url(fancybox.png) -40px -90px no-repeat;
padding:0 0 0 15px;
}

#fancybox-title-float-main {
color:#FFF;
line-height:29px;
font-weight:700;
background:url(fancybox-x.png) 0 -40px;
padding:0 0 3px;
}

#fancybox-title-float-right {
background:url(fancybox.png) -55px -90px no-repeat;
padding:0 0 0 15px;
}

.fancybox-ie6 #fancybox-title-over {
background:transparent;
zoom:1;
}

#tip7-title span {
right:-4px;
top:44px;
position:absolute;
z-index:9999;
}

.notpos {
position:absolute;
z-index:9000000;
right:0;
top:-10px;
}

a:hover,.ui-widget-content a,.ui-widget-header a {
color:#222;
}

a img,dd a img {
border:none;
}

.floatleft,.jspHorizontalBar .jspCap,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-multi .ui-datepicker-group,.ui-datepicker-rtl .ui-datepicker-buttonpane button {
float:left;
}

.floatright,.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group,.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
float:right;
}

.relative,.ui-resizable,.posrelt {
position:relative;
}

#wrapper,#footerwrapper {
width:970px;
margin:auto;
}

.pr10,.padright_10px {
padding-right:10px;
}

.logo,.logo1,.logo2 {
float:left;
padding:25px 20px 25px 5px;
}

.logo a span,.logo1 a span,.logo2 a span {
visibility:hidden;
}

.log_input div,.log_input1 div {
background:url(../img/logininputbg.png) top left repeat-x;
height:36px;
padding-top:6px;
padding-left:30px;
}

.log_input span,.log_input1 span {
position:absolute;
top:11px;
left:11px;
}

.select244 li a,.select150 li a {
display:block;
padding:3px 8px;
}

.jspCap,.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
display:none;
}

.jspVerticalBar .jspArrow:focus,.ui-widget :active {
outline:none;
}

.ui-accordion,.ui-datepicker select.ui-datepicker-month-year {
width:100%;
}

.ui-button-text-only .ui-button-text,input.ui-button {
padding:.4em 1em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary {
right:.5em;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
border-left-width:0;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
border-right-width:0;
border-left-width:1px;
}

.ui-slider-horizontal .ui-slider-range-min,#fancybox-left {
left:0;
}

.ui-slider-horizontal .ui-slider-range-max,#fancybox-right {
right:0;
}

.ui-state-hover a,.ui-state-hover a:hover,.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
color:#212121;
text-decoration:none;
}

.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
color:#cd0a0a;
}

.ui-widget-content .ui-icon,.ui-widget-header .ui-icon {
background-image:url(images/ui-icons_222222_256x240.png);
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon {
background-image:url(images/ui-icons_454545_256x240.png);
}

.ui-icon-seek-start,.ui-icon-seek-first {
background-position:-80px -160px;
}

.fancybox-ie6 #fancybox-close,.fancybox-ie6 #fancybox-left-ico,.fancybox-ie6 #fancybox-right-ico,.fancybox-ie6 #fancybox-title-float-left,.fancybox-ie6 #fancybox-title-float-main,.fancybox-ie6 #fancybox-title-float-right {
background:transparent;
}

/*22-09-2014 */
.container{width:996px; margin:auto;}
footer{background-color:#2e2e30;}
.footer_content h2{margin:26px 0px 0px 0px; padding:0px; font-weight:normal; color:#b6b6b6; font-size:19px; font-family: 'calibriregular'; text-transform: capitalize;}
.footer_content p{margin:0px; line-height:23px; padding:15px 10px 0px 0px; color:#6f6f71; font-size:15px; font-family: 'calibriregular';}
.help{margin:0px; padding:17px 0px 0px 0px; }
.help > li{list-style:none;  padding:0px 0px 2px 0px;}
.help > li a{color:#6f6f71; font-size:15px; font-family: 'calibriregular';}
.help > li a:hover{color:#FFFFFF;}
.address_bar{width:270px; float:left; margin-bottom:20px;}
.help_box{width:150px; float:left;}
.social_connect{padding-left:6px;}
.social_connect h2{ margin:26px 0px 0px 0px; padding:0px 0px 20px 0px; font-weight:normal; color:#b6b6b6; font-size:19px; font-family: 'calibriregular';}
.social_connect a{display:inline-block; margin-left:3px;} 
.social_connect a:hover{opacity:0.7}
.copy_rite{padding-bottom:13px;}
.copy_rite p{margin:26px 0px 15px 0px; display:block; padding:0px; color:#6f6f71; font-size:15px; font-family: 'calibriregular';}
.clear{clear:both}
.custom_anchor{color: #6F6F71;}
.custom_anchor:hover{color:#FFFFFF;}
.social_connect {
    float: left;
    padding-left: 6px;
    width: 212px;
}

/*23-09-2014 */
.alert_box{position:relative;margin-top:5px;}
.alert_box .alert-danger{border:1px solid #e9c59b; background-color: #ffecce; padding:6px 4px 6px 4px; color:#ed302c; font-size:12px;}
.alert_box .alert-success{background-color: rgb(223, 240, 216); border-color: rgb(214, 233, 198); color: rgb(60, 118, 61); padding:6px 4px 6px 4px; font-size:12px;}
.alert_box .close {
    background-color: #948877;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: #FFECCE;
    font-size: 11px;
    margin-right: 5px;
    opacity: 0.8;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.alert_box .close:hover{background-color:#333333;}
.alert_box figure{display:inline-block; padding:0px; position:absolute; left:5px; top:7px; margin:0px 12px 0px 4px;}
.alert_box figure .close{background:none;}
.alert_box strong{padding-left:30px; display:block;}

/*23-09-2014 */